<!DOCTYPE html>
<html>

<head>
    <title>Planificación de viaje</title>
</head>

<body>
    <h1>Detalles del vuelo de ida</h1>
    <p>ID: {{ outboundFlight['id'] }}</p>
    <p>Precio: {{ outboundFlight['price'] }}</p>
    <p>Duración: {{ outboundFlight['duration'] }}</p>
    <p>Fecha: {{ outboundFlight['date'] }}</p>

    <h1>Detalles del vuelo de regreso</h1>
    <p>ID: {{ returnFlight['id'] }}</p>
    <p>Precio: {{ returnFlight['price'] }}</p>
    <p>Duración: {{ returnFlight['duration'] }}</p>
    <p>Fecha: {{ returnFlight['date'] }}</p>

    <h1>Detalles del hotel</h1>
    <p>Nombre: {{ hotel['name'] }}</p>
    <p>Precio: {{ hotel['price'] }}</p>
    <p>Ubicación: {{ hotel['location'] }}</p>

    {% for dia, actividades in planificacion.items() %}
        <h2>{{ dia }}</h2>
        <h3>Mañana</h3>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Nivel de precio</th>
                <th>Tipo</th>
            </tr>
            {% for actividad in actividades['Mañana'] %}
            <tr>
                <td>{{ actividad['name'] }}</td>
                <td>{{ actividad['priceLevel'] }}</td>
                <td>{{ actividad['type'] }}</td>
                <td>{{ actividad['schedule'] }}</td>
            </tr>
            {% endfor %} 
        </table>


        <h3>Tarde</h3>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Nivel de precio</th>
                <th>Tipo</th>
            </tr>
            {% for actividad in actividades['Tarde'] %}
            <tr>
                <td>{{ actividad['name'] }}</td>
                <td>{{ actividad['priceLevel'] }}</td>
                <td>{{ actividad['type'] }}</td>
                <td>{{ actividad['schedule'] }}</td>
            </tr>
            {% endfor %} 
        </table>

        <h3>Noche</h3>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Nivel de precio</th>
                <th>Tipo</th>
            </tr>
            {% for actividad in actividades['Noche'] %}
            <tr>
                <td>{{ actividad['name'] }}</td>
                <td>{{ actividad['priceLevel'] }}</td>
                <td>{{ actividad['type'] }}</td>
                <td>{{ actividad['schedule'] }}</td>
            </tr>
            {% endfor %} 
        </table>
    {% endfor %}
</body>

</html>